.container{
  display: flex;
  width: 100%;
  background-color: dodgerblue;
}

.nav-container{
  max-width: 1400px;
  justify-content: end;
  padding: 0 30px;
  flex-direction: row;
}

li {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}